doctype html
html(data-brackets-id='1')
  head(data-brackets-id='2')
    meta(data-brackets-id='3', name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(data-brackets-id='4', charset='utf-8')
    // Description, Keywords and Author
    meta(data-brackets-id='5', name='description', content='99needs.com')
    meta(data-brackets-id='6', name='author', content='99needs')
    title(data-brackets-id='7') :: 99needs ::
    link(data-brackets-id='8', rel='shortcut icon', href='images/favicon.ico', type='image/x-icon')
    // style
    link(data-brackets-id='9', href='css/style.css', rel='stylesheet')
    // style
    // bootstrap
    link(data-brackets-id='10', href='css/bootstrap.min.css', rel='stylesheet')
    // responsive
    link(data-brackets-id='11', href='css/responsive.css', rel='stylesheet')
    // font-awesome
    link(data-brackets-id='12', href='css/font-awesome.min.css', rel='stylesheet')
    // font-awesome
  body(data-brackets-id='13')
    // main-wrapper-iamge
    main#main(data-brackets-id='14', role='main-wrapper-iamge')
      .over-bg-color(data-brackets-id='15')
        // container
        .container(data-brackets-id='16')
          // tab-content
          .tab-content.text-center(data-brackets-id='17')
            // Countdown
            section#home.tab-pane.fade.in.active(data-brackets-id='18')
              article.countdown-pan(data-brackets-id='19', role='countdown')
                #countdown.text-center(data-brackets-id='20')
                p(data-brackets-id='21') coming soon to bring you the best!
            // Countdown
            // introduction
            section#menu1.tab-pane.fade(data-brackets-id='22')
              article.introduction-pan(data-brackets-id='23', role='introduction')
                header.page-title(data-brackets-id='24')
                  h2(data-brackets-id='25') Our Introduction
                p(data-brackets-id='26')
                p Today, online shopping is a great option. We can choose from lakhs 
                  | of products at our own convenience. But the result is not always 
                  | satisfactory. Sometimes the quality does not meet expectations,
                  | wrong size, late delivery of products, defect in the product, etc. 
                  | Even the conventional way of physically going to the store 
                  | is not helpful. We have to go through hard time to find the 
                  | right store with the best product.
                p So our team have tried to change the conventional way of shopping 
                  | by bringing together the bests of the best worlds! Be it your fashion 
                  | requirements, a new TV for your home or anything you think you ever 
                  | need, discover everything from your local stores from across all range of 
                  | options at your fingertips. We know what's the best and we're here for you.
            // introduction
            
            // Contact
            section#menu3.tab-pane.fade(data-brackets-id='58')
              article.contact-pan(data-brackets-id='59', role='contact')
                header.page-title(data-brackets-id='60')
                  h2(data-brackets-id='61') Stay in touch with us
                h3(data-brackets-id='62')
                  a(data-brackets-id='63', href='') Contact @ 99needs.com
                ul(data-brackets-id='64')
                  li(data-brackets-id='65')
                    i.fa.fa-map-marker(data-brackets-id='66', aria-hidden='true')
                    |  Chapakhowa, Sadiya
                  li(data-brackets-id='67')
                    i.fa.fa-phone(data-brackets-id='68', aria-hidden='true')
                    a(data-brackets-id='69', href='tel:1-212-290-4700') +91 70863 14756
          // tab-content
        // container
        // header
        header(data-brackets-id='70', role='header')
          hgroup(data-brackets-id='71')
            // logog
            h1(data-brackets-id='72')
              a(data-brackets-id='73', href='#', title='N99DS') N99DS
            // logog
            // nav
            nav#header-nav.nav.navy(data-brackets-id='74', role='nav')
              ul.nav.nav-tabs(data-brackets-id='75')
                li.active(data-brackets-id='76')
                  a(data-brackets-id='77', data-toggle='tab', href='#home', title='Countdown') Countdown
                li(data-brackets-id='78')
                  a(data-brackets-id='79', data-toggle='tab', href='#menu1', title='Introduction') Introduction
                li(data-brackets-id='82')
                  a(data-brackets-id='83', data-toggle='tab', href='#menu3', title='Contact') Contact
              .mobile-social(data-brackets-id='84', role='socil-icons')
                li(data-brackets-id='85')
                  a(data-brackets-id='86', href='#', target='_blank', title='twitter')
                    i.fa.fa-twitter(data-brackets-id='87', aria-hidden='true')
                li(data-brackets-id='88')
                  a(data-brackets-id='89', href='#', target='_blank', title='facebook')
                    i.fa.fa-facebook(data-brackets-id='90', aria-hidden='true')
                li(data-brackets-id='91')
                  a(data-brackets-id='92', href='#', target='_blank', title='google-plus')
                    i.fa.fa-google-plus(data-brackets-id='93', aria-hidden='true')
            // nav
            // Socil Icon
            ul.desk-social(data-brackets-id='97', role='socil-icons')
              li(data-brackets-id='98')
                a(data-brackets-id='99', href='#', target='_blank', title='twitter')
                  i.fa.fa-twitter(data-brackets-id='100', aria-hidden='true')
              li(data-brackets-id='101')
                a(data-brackets-id='102', href='#', target='_blank', title='facebook')
                  i.fa.fa-facebook(data-brackets-id='103', aria-hidden='true')
              li(data-brackets-id='104')
                a(data-brackets-id='105', href='#', target='_blank', title='google-plus')
                  i.fa.fa-google-plus(data-brackets-id='106', aria-hidden='true')
            // Socil Icon
          footer.desk(data-brackets-id="110")
            p(data-brackets-id="111")
              | © All rights reserved.
              i.fa.fa-heart(data-brackets-id="112" aria-hidden="true")
              |   
        // header
        footer.mobile(data-brackets-id="113")
          p(data-brackets-id="114")
            | © All rights reserved.
            i.fa.fa-heart(data-brackets-id="115" aria-hidden="true")
            |   
    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(data-brackets-id='116', src='js/jquery.min.js', type='text/javascript')
    // custom
    script(data-brackets-id='118', src='js/nav-custom.js', type='text/javascript')
    // Include all compiled plugins (below), or include individual files as needed
    script(data-brackets-id='119', src='js/bootstrap.min.js', type='text/javascript')
    // jquery.countdown
    script(data-brackets-id='120', src='js/countdown-js.js', type='text/javascript')

